!!!
%html(lang="ru")
	%head
		%link(href="css/top-menu-page4.css" rel="stylesheet" type="text/css")
		%link(href="css/modal.css" rel="stylesheet" type="text/css")
		= Haml::Engine.new(File.read("head.haml")).render

		:javascript
			var htmPage = "page4"; // Фотоальбом
			$(function(){
				$('.li-menu4').children().attr('href','#');
				$('.tdMenu10').first().children().attr('href','page3.htm');
				$('.tdMenu10').last().children().attr('href','page5.htm');
			});
		%title Мой персональный Веб-сайт

	%body
		%header
			= Haml::Engine.new(File.read("nav.haml")).render
			= Haml::Engine.new(File.read("figure-h1.haml")).render
		%aside
			= Haml::Engine.new(File.read("aside.haml")).render
		%main
			%section
				%h3 Ниже секции расположены мои фотографии
			%section
				%p данные фотографии разбиты на группы, сделанные в разное время и различных обстоятельствах. Сделаны различными приборами
				.mainArticle
					.imgList
						%input#fileElem(accept=".txt,text/plain" onchange="fillListFromFileAndfillPhotosAndAlbumHandler(event)" style="display:none" type="file" multiple)
						%object(data="img/list.txt" type="text/plain;charset=UTF-8")
						%object(data="img/listf.txt" type ="text/plain;charset=UTF-8")
					%script(src="js/page4handler.js" charset="utf-8")
				%br/
				%br/
			%article
				%table.commonTable
					%caption Фотографии в HTML'е (oldSyle album)
					%tr
						%th
						%th
						%th
						%th
						%th
						%th
					%tr
						%td
							%figure
								%img(alt="2019 г. фотография с курсов по программе лидерства" height="200" src="img/album/photo_2019-10-22_16-49-22.jpg" title="фотография с курсов Лидерства")
								%figcaption фотография с курсов Лидерства
						%td
							%figure
								%img(alt="img8" height="200" src="img/1576360052_pressa_tv_prikolnye_foto_38.jpg" title="фотография Б")
								%figcaption фотография Б
						%td
							%figure
								%img(alt="img9" src="img/1576360073_pressa_tv_prikolnye_foto_01.jpg" title="фотография В" width="200")
								%figcaption фотография В
						%td
							%figure
								%img(alt="img10" height="200" src="img/1576705603_pressa_tv_fotoprikoly_07.jpg" title="фотография Г")
								%figcaption фотография Г
						%td
							%figure
								%img(alt="img11" src="img/1575850368_d15.jpg" title="фотография Д" width="200")
								%figcaption фотография Д
						%td
							%figure
								%img(alt="img12" height="200" src="img/1575974982_d2.jpg" title="фотография Е")
								%figcaption фотография Е
					%tr
						%td
							%figure
								%img(alt="img13" src="img/1575975602_d3.jpg" title="фотография Ж" width="200")
								%figcaption фотография Ж
						%td
							%figure
								%img(alt="img14" src="img/photo_2020-05-08_07-37-41.jpg" title="фотография З" width="200")
								%figcaption фотография З
						%td
							%figure
								%img(alt="img15" src="img/photo_2020-05-08_07-37-52.jpg" title="фотография И" width="200")
								%figcaption фотография И
						%td
							%figure
								%img(alt="img16" height="200" src="img/photo_2020-05-08_07-37-56.jpg" title="фотография К")
								%figcaption фотография К
						%td
							%figure
								%img(alt="img17" src="img/photo_2020-05-08_07-37-59.jpg" title="фотография Л" width="200")
								%figcaption фотография Л
						%td
							%img(alt="img m" src="img/.jpg" width="200")
					%tr
						%td
							%figure
								%img(alt="img18" src="img/photo_2020-05-08_07-38-04.jpg" title="фотография М" width="200")
								%figcaption фотография М
						%td
							%figure
								%img(alt="img19" height="200" src="img/photo_2020-05-08_07-38-06.jpg" title="фотография Н")
								%figcaption фотография Н
						%td
							%figure
								%img(alt="img20" src="img/photo_2020-05-08_07-38-09.jpg" title="фотография О" width="200")
								%figcaption фотография О
						%td
							%figure
								%img(alt="img21" src="img/photo_2020-05-08_07-38-13.jpg" title="фотография П" width="200")
								%figcaption фотография П
						%td
							%figure
								%img(alt="img n" src="img/.jpg" title="фотография Р" width="200")
								%figcaption фотография Р
						%td
							%a(href="index.htm") На главную страницу
				%table
					%caption Фотографии последующие
					%tr
						%th
						%th
						%th
						%th
					%tr
						%td
						%td
						%td
						%td
			%section
				%br/
				%br/
				%br/
				%br/
				%br/
				%br/
				%br/
				%br/
				%br/
				%br/
				%br/
		%footer
			= Haml::Engine.new(File.read("footer.haml")).render
