!!!
%html(lang="ru")
	%head
		:javascript
			var htmPage = "page6"; // Тест по дисциплине
			$(function(){
				$('.li-menu6').children().attr('href','#');
				$('.tdMenu10').first().children().attr('href','page5.htm');
				$('.tdMenu10').first().empty();
			});
		= Haml::Engine.new(File.read("head.haml")).render
		%link(href="css/top-menu-page6.css" rel="stylesheet" type="text/css")
		%link(href="css/page6DefaultFormStyle.css" rel="stylesheet" type="text/css")
		%link(href="css/modal.css" rel="stylesheet" type="text/css")
		%script(src="js/bootstrap.js" charset="utf-8")
		%script(src="js/popover.js" charset="utf-8")
		%script(src="js/page6valid.js" charset="utf-8")
		%title Мой персональный Веб-сайт
	%body
		%header.blured
			= Haml::Engine.new(File.read("nav.haml")).render
			= Haml::Engine.new(File.read("figure-h1.haml")).render
		%aside.blured
			= Haml::Engine.new(File.read("aside.haml")).render
		%main.blured
			%article
				%section
					%h2 Тесты по дисциплинам СевГУ:
				%section
					%figure
						%figcaption
							%h2 Тест по дисциплине "Веб-технологии":
						#MainFormSubmitedMessage
							%p Форма теста по дисциплине "Веб-технологии" отправлена (Form Submited)
						%form#mainForm(accept-charset="utf-8" action="mailto:mcapple@yandex.ru" enctype="text/plain" method="post" onsubmit="return validMainForm();")
							%p
								Для решения теста заполнитете поля с личными данными на себя, заполните тест и нажмите кнопку отправить для отправки теста на мою электронную почту на проверку
							%ul
								%li
									Личные данные:
									%label(for="text1") Ваш nicname:
									%br
									%input#text1(name="nicname" size="20" type="text" value="nicname")
									%br
									%label(for="text2") Фамилия:
									%input#text2{:name => "family", :type => "text", :value => ""}/
									%label(for="text3") Имя:
									%input#text3{:name => "name", :type => "text", :value => ""}/
									%label(for="text4") Отчество:
									%input#text4(name="surname" type="text" value="")
									#valid01.InvalidMessage
										%br
										поле "Nicname" должно быть заполнено для идентификации в случае отсутствия поддержки utf-8 системой
									#valid02.InvalidMessage
										%br
										поле "Nicname" не может быть заполнено словом менее 3 букв
									#valid03.InvalidMessage
										%br
										Nicname должен быть уникальным по этому значение "nicname" в поле не уникально и не годится
									#valid011.InvalidMessage
										%br
										поле "Family" должно быть заполнено для идентификации в случае отсутствия поддержки utf-8 системой
									#valid012.InvalidMessage
										%br
										поле "Family" не может быть заполнено словом менее 3 букв
									#valid021.InvalidMessage
										%br
										поле "Name" должно быть заполнено для идентификации в случае отсутствия поддержки utf-8 системой"
									#valid022.InvalidMessage
										%br
										поле "Name" не может быть заполнено словом менее 3 букв
									#valid031.InvalidMessage
										%br
										поле "Surname" должно быть заполнено для идентификации в случае отсутствия поддержки utf-8 системой"
									#valid032.InvalidMessage
										%br
										поле "Surname" не может быть заполнено словом менее 3 букв
									%br.PrevalidMessage/
									%br
								%li
									Вопросы по 1 части дисциплины:
									%ol
										%li#ask1
											%h3 Что такое URL? Расскажите о формате URL?
											%label Варианты ответа:
											%br
											%input#radio1(name="ask1" type="radio" value="ans11")
											%label(for="radio1") система унифицированных адресов электронных ресурсов, или единообразный определитель местонахождения ресурса;
											%br
											%input#radio2(name="ask1" type="radio" value="ans12")
											%label(for="radio2") это постоянная последовательность символов, идентифицирующая абстрактный или физический ресурс;
											%br
											%input#radio3(name="ask1" type="radio" value="ans13")
											%label(for="radio3") последовательность символов, идентифицирующая абстрактный или физический ресурс.
											#valid11.InvalidMessage
												%br
												Первый вопрос не отвечен
											%br.PrevalidMessage
											%br
										%li#ask2
											%h3 Какие атрибуты используются в тегах таблиц HTML?
											%label Варианты ответа:
											%br
											%input#checkbox1(name="ask2" type="checkbox" value="ans21")
											%label(for="checkbox1") bgcolor;
											%br
											%input#checkbox2(name="ask2" type="checkbox" value="ans22")
											%label(for="checkbox2") bordercolor;
											%br
											%input#checkbox3(name="ask2" type="checkbox" value="ans23")
											%label(for="checkbox3") frame;
											%br
											%input#checkbox4(name="ask2" type="checkbox" value="ans24")
											%label(for="checkbox4") rules;
											%br
											%input#checkbox5(name="ask2" type="checkbox" value="ans25")
											%label(for="checkbox5") summary;
											%br
											%input#checkbox6(name="ask2" type="checkbox" value="ans26")
											%label(for="checkbox6") charoff;
											%br
											%input#checkbox7(name="ask2" type="checkbox" value="ans27")
											%label(for="checkbox7") axis;
											%br
											%input#checkbox8(name="ask2" type="checkbox" value="ans28")
											%label(for="checkbox8") nowrap;
											%br
											%input#checkbox9(name="ask2" type="checkbox" value="ans29")
											%label(for="checkbox9") enctype.
											#valid21.InvalidMessage
												%br
												Второй вопрос не отвечен
											%br.PrevalidMessage
											%br
										%li#ask3
											%h3 В чем состоят основные отличия HTML и XHTML?
											%label Впишите ответ:
											%br
											%textarea(cols="50" form="mainForm" name="ask3" rows="8")
											#valid31.InvalidMessage
												%br
												Третий вопрос не отвечен
											#valid311.InvalidMessage
												%br
												Третий вопрос должен содержать не менее 30 слов
											%br.PrevalidMessage
											%br
										%li#ask4
											%h3 Какие атрибуты имеет тег &lt;FORM&gt; и для чего они используются?
											%label Варианты ответа:
											%br
											%select(name="ask4" size="6" multiple)
												%option(value="ans41") accept-charset
												%option(value="ans42") action
												%option(value="ans43") autocoplete
												%option(value="ans44") enctype
												%option(value="ans45") method
												%option(value="ans46") novalidate
												%option(value="ans47") target
											#valid41.InvalidMessage
												%br
												Четвертый вопрос не отвечен
											%br.PrevalidMessage
											%br
										%li#ask5
											%h3 Для чего используется тег &lt;SELECT&gt;?
											%select(name="ask5")
												%option(hidden="" value="none") Выберите ответ
												%option(value="ans51") организации в формах списков выбора
												%option(value="ans52") организации выпадающих списков выбора
												%option(value="ans53") организации в формах списков выбора и выпадающих списков выбора
											#valid51.InvalidMessage
												%br
												Пятый вопрос не отвечен
											%br.PrevalidMessage
											%br
										%li#ask6
											%h3 Как выполняется группировка элементов списка выбора в выпадающих списках?
											%label Варианты ответа:
											%br
											%select(name="ask6" size="6" multiple)
												%optgroup(label="")
													%option(value="ask61") Для выполнения группировки элементов списка выбора используется тэг &lt;optgroup&gt;
													%option(value="ask62") Для группировки элементов списка выбора используется тэг &lt;colgroup&gt;
												%optgroup(label="")
													%option(value="ask63") (закрывающий тэг обязательный)
													%option(value="ask64") (закрывающий тэг не обязательный)
											#valid61.InvalidMessage
												%br
												Шестой вопрос не отвечен
											%br.PrevalidMessage
											%br
							%input(type="submit" value="submit")
							%input(onclick="window.location.reload()" type="reset" value="reset")
				%section
					%h2 Тест по дисциплине "Веб-технологии" 2:
					%form(action="index.html" method="post")
						%p
							%label(for="text5") Введите свое имя
							%br
							%input#text5(name="name1" type="text" value="")
							%br
						%p
							%label Выберите группу
						%ol
							%li
						%p
					%div
						%textarea(cols="60" name="IS" rows="10") Севастопольский государственный университет, Кафедра ИС
			%section
				%pre
					\--------------------------------------------
					*для обработки (валидации) форм на текущей странице должен работать javaScript.
					%noscript.tstjs JavaScript working ? - NO !
					Негатвный статус разрешения браузером обработки js кода
					отображается в документе строкой выше. Позитивный статус
					выводится в консоль браузера (доступна в меню разработчика).
				%script(src="js/testAllowJsBrowserLog.js" charset="utf-8")
		%footer.blured
			= Haml::Engine.new(File.read("footer.haml")).render
