!!!
%html(lang="ru")
	%head
		%link(href="css/top-menu-page4.css" rel="stylesheet" type="text/css")
		%link(href="css/modal.css" rel="stylesheet" type="text/css")
		= Haml::Engine.new(File.read("head.haml")).render

		:javascript
			var htmPage = "page4"; // Фотоальбом
			$(function(){
				$('.li-menu4').children().attr('href','#');
				$('.tdMenu10').first().children().attr('href','page3.htm');
				$('.tdMenu10').last().children().attr('href','page5.htm');
				$('.commonTable tr td').last().empty().append('<a href="index.htm">На главную страницу</a>');
			});
		%title Мой персональный Веб-сайт

	%body
		%header
			= Haml::Engine.new(File.read("nav.haml")).render
			= Haml::Engine.new(File.read("figure-h1.haml")).render
		%aside
			= Haml::Engine.new(File.read("aside.haml")).render
		%main
			%section
				%h3 Ниже секции расположены мои фотографии
			%section
				%p данные фотографии разбиты на группы, сделанные в разное время и различных обстоятельствах. Сделаны различными приборами
				.mainArticle
					.imgList
						%input#fileElem(accept=".txt,text/plain" onchange="fillListFromFileAndfillPhotosAndAlbumHandler(event)" style="display:none" type="file" multiple)
						%object(data="img/list.txt" type="text/plain;charset=UTF-8")
						%object(data="img/listf.txt" type ="text/plain;charset=UTF-8")
					%script(src="js/page4handler.js" charset="utf-8")
				%br/
				%br/
			%article
				%table.commonTable
					%caption Фотографии в HTML'е (oldSyle album)
					%tr
						%th
						%th
						%th
						%th
						%th
						%th
					%tr
						-@array_photos1 = {'album/photo_2019-10-22_16-49-22.jpg': ['2019 г. фотография с курсов по программе лидерства','200','','фотография с курсов Лидерства','фотография с курсов Лидерства'],'1576360052_pressa_tv_prikolnye_foto_38.jpg': ['img8','200','','фотография Б','фотография Б'],'1576360073_pressa_tv_prikolnye_foto_01.jpg': ['img9','','200','фотография В','фотография В'],'1576705603_pressa_tv_fotoprikoly_07.jpg': ['img10','200','','фотография Г','фотография Г'],'1575850368_d15.jpg': ['img11','','200','фотография Д','фотография Д'],'1575974982_d2.jpg': ['img12','200','','фотография Е','фотография Е']};
						-@array_photos1.each do |key, value|
							%td
								%figure
									-if (value[1]=="")&&(value[2]=="")
										%img(alt="#{value[0]}" src="img/#{key}" title="#{value[3]}")
									-elsif (value[1]!="")&&(value[2]!="")
										%img(alt="#{value[0]}" height="#{value[1]}" src="img/#{key}" title="#{value[3]}" width="#{value[2]}")
									-else
										-if (value[2]=="")
											%img(alt="#{value[0]}" height="#{value[1]}" src="img/#{key}" title="#{value[3]}")
										-elsif (value[1]=="")
											%img(alt="#{value[0]}" src="img/#{key}" title="#{value[3]}" width="#{value[2]}")
									%figcaption #{value[4]}
					%tr
						-@array_photos2 = {'1575975602_d3.jpg': ['img13','','200','фотография Ж','фотография Ж'],'photo_2020-05-08_07-37-41.jpg': ['img14','','200','фотография З','фотография З'],'photo_2020-05-08_07-37-52.jpg': ['img15','','200','фотография И','фотография И'],'photo_2020-05-08_07-37-56.jpg': ['img16','200','','фотография К','фотография К'],'photo_2020-05-08_07-37-59.jpg': ['img17','','200','фотография Л','фотография Л'],'.jpg': ['img m','','','','']};
						-@array_photos2.each do |key, value|
							%td
								%figure
									-if (value[1]=="")&&(value[2]=="")
										%img(alt="#{value[0]}" src="img/#{key}" title="#{value[3]}")
									-elsif (value[1]!="")&&(value[2]!="")
										%img(alt="#{value[0]}" height="#{value[1]}" src="img/#{key}" title="#{value[3]}" width="#{value[2]}")
									-else
										-if (value[2]=="")
											%img(alt="#{value[0]}" height="#{value[1]}" src="img/#{key}" title="#{value[3]}")
										-elsif (value[1]=="")
											%img(alt="#{value[0]}" src="img/#{key}" title="#{value[3]}" width="#{value[2]}")
									%figcaption #{value[4]}
					%tr
						-@array_photos3 = {'photo_2020-05-08_07-38-04.jpg': ['img18','','200','фотография М','фотография М'],'photo_2020-05-08_07-38-06.jpg': ['img19','200','','фотография Н','фотография Н'],'photo_2020-05-08_07-38-09.jpg': ['img20','','200','фотография О','фотография О'],'photo_2020-05-08_07-38-13.jpg': ['img21','','200','фотография П','фотография П'],'.png': ['img n','','200','фотография Р','фотография Р'],'': ['','','','','']};
						-@array_photos3.each do |key, value|
							%td
								%figure
									-if (value[1]=="")&&(value[2]=="")
										%img(alt="#{value[0]}" src="img/#{key}" title="#{value[3]}")
									-elsif (value[1]!="")&&(value[2]!="")
										%img(alt="#{value[0]}" height="#{value[1]}" src="img/#{key}" title="#{value[3]}" width="#{value[2]}")
									-else
										-if (value[2]=="")
											%img(alt="#{value[0]}" height="#{value[1]}" src="img/#{key}" title="#{value[3]}")
										-elsif (value[1]=="")
											%img(alt="#{value[0]}" src="img/#{key}" title="#{value[3]}" width="#{value[2]}")
									%figcaption #{value[4]}
				%table
					%caption Фотографии последующие
					%tr
						%th
						%th
						%th
						%th
					%tr
						%td
						%td
						%td
						%td
			%section
				%br/
				%br/
				%br/
				%br/
				%br/
				%br/
				%br/
				%br/
				%br/
				%br/
				%br/
		%footer
			= Haml::Engine.new(File.read("footer.haml")).render
